body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    max-width: 100%;
}
.half-width h1 span{
    color: tomato;
}
.half-width a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(54, 47, 47);
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
}
.second-section{
    padding-top: 100px;
}